<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>welcome,<%= user.username %></h1>
    <a href="/bug/new">submit a bug</a>
    <div>
        <h2>history</h2>
        <% user.bugsreported.forEach((bug)=>{ %>
            <a href="/bug/<%=bug%>"><%= bug %></a><br>
        <% }); %>
        <!-- <% for(let bugsreported in user){ %>
            <a href="/bug/<%=bugsreported%>"><%= bugsreported%></a>
        <% } %> -->
        <hr>
        <a href="/logout">logout</a>
        
        
    </div>
</body>
</html>